<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facturadora</title>
    <!-- Custom fonts for this template-->
    <link href="../public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../public/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa fa-paperclip"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Facturadora</div>
            </a>
            <!-- Heading -->
            <div class="sidebar-heading">
                Facturadora
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="far fa-file-alt"></i>
                    <span>Documentos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/entidades">
                    <i class="fas fa-building"></i>
                    <span>Entidades</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tipos">
                    <i class="fas fa-paste"></i>
                    <span>Tipos de Documento</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/series">
                    <i class="fas fa-wave-square"></i>
                    <span>Series y Correlativos</span></a>
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </nav>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Detalle de Factura</h1>
                </div>

                <div class="card shadow m-5">
                    <div class="card-header py-3">
                    </div>
                    <!-- Tipo de documento a editar -->
                    <% if(detalle.length > 0) { %>
                        <% for(var i = 0; i < detalle.length; i++){ %>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 pl-3 pr-3">
                                        <div class="form-group">
                                            <label for="id_documento">Número Factura</label>
                                            <% for(var j = 0; j < list_docs.length; j++){ %>
                                                <% if(list_docs[j]._id.equals(detalle[i].id_documento)) { %>
                                                    <input type="text" class="form-control" name="id_documento" id="id_documento" value="<%= list_docs[j].numero_factura %>" readonly>
                                                    <% } %>
                                                        <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label for="descripcion">Descripcion</label>
                                            <input type="text" class="form-control" name="descripcion" id="descripcion" value="<%= detalle[i].descripcion %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="precio_unitario">Precio Unitario</label>
                                            <input type="text" class="form-control" name="precio_unitario" id="precio_unitario" value="<%= detalle[i].precio_unitario %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="cantidad">Cantidad</label>
                                            <input type="text" class="form-control" name="cantidad" id="cantidad" value="<%= detalle[i].cantidad %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="monto_igv">Monto IGV</label>
                                            <input type="text" class="form-control" name="monto_igv" id="monto_igv" value="<%= detalle[i].monto_igv %>" readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pl-3 pr-3">
                                        <div class="form-group">
                                            <label for="descuento">Descuento</label>
                                            <input type="text" class="form-control" name="descuento" id="descuento" value="<%= detalle[i].descuento %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="isc">ISC</label>
                                            <input type="text" class="form-control" name="isc" id="isc" value="<%= detalle[i].isc %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="importe_venta">Importe Venta</label>
                                            <input type="text" class="form-control" name="importe_venta" id="importe_venta" value="<%= detalle[i].importe_venta %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="observacion">Observación</label>
                                            <input type="text" class="form-control" name="observacion" id="observacion" value="<%= detalle[i].observacion %>" readonly>
                                        </div>
                                        <a href="/" class="btn btn-outline-secondary">Volver Atrás</a>
                                        <a href="/deleteDetalle/<%= detalle[i]._id %>" class="btn btn-danger">Eliminar Detalle</a>
                                        <a href="/generateReport/<%= detalle[i]._id %>" class="btn btn-primary">Generar Reporte</a>
                                    </div>
                                </div>



                                <!-- <button type="submit" class="btn btn-primary">Guardar Cambios</button> -->
                            </div>
                            <% } %>
                                <% } else { %>
                                    <div class="form-group m-5">
                                        <div class="alert alert-warning" role="alert">
                                            Este documento no cuenta con ningún detalle.
                                        </div>
                                        <a href="/" class="btn btn-secondary">Volver atrás</a>
                                    </div>

                                    <% } %>

                </div>

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="../public/vendor/jquery/jquery.min.js"></script>
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../public/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="../public/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../public/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="../public/js/demo/datatables-demo.js"></script>

</body>

</html>